/* Contenido de dashboard.css */
body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    height: 100vh;
    position: fixed;
    padding: 20px 0;
    overflow-y: auto;
  }
  .sidebar a {
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    transition: background 0.3s, padding-left 0.3s;
  }
  .sidebar a:hover {
    background-color: #555;
    padding-left: 25px;
  }
  .content {
    margin-left: 250px;
    padding: 20px;
    overflow: hidden;
  }
  .header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .footer {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 250px);
    margin-left: 250px;
  }
  @media (max-width: 600px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      text-align: center;
    }
    .content {
      margin-left: 0;
    }
    .footer {
      width: 100%;
      margin-left: 0;
    }
  }
  